:root {
  --black-height: 65%; /* ?? */
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 .container {
   height: 100vh;
   display: flex;
   flex-direction: column;
   font-family: 'Times New Roman', Times, serif;
   /* font-size: 1rem; */
   /*align-items: stretch;*/
 }
 .container__header {
   flex-grow: 1;
 }
 .header {
   background-color: #686868;
   color: #252525;
   text-align: center;
 }
 .header__title {
   font-size: 1.5rem;
 }
 .container__list {
   flex-grow: 4;
}
 .list {
    background-color: black;
/*    background-color: gray; /*dev*/
    padding: 1% 5% 3%;
    list-style: none;
    display: flex;
    font-size: 0;
    color: #686868;
    /*cursor: pointer;*/
 }
 .list__key {
    width: calc(1/14*100%);
    /*flex-grow: 1;*/
    background-color: white;
    border-radius: 0 0 4px 4px;
/*    border: 1px solid black;*/
/*    overflow: hidden;
    text-align: center;
    text-overflow: clip;*/
    box-shadow: inset 1px 0 5px rgba(0, 0, 0, 0.5);
 }
 .list__key_black {
   width: calc(1/20*100%);
   background-color: black;
   height: var(--black-height);
   margin: 0 calc(-1/40*100%);
   border-radius: 0 0 3px 3px;
   z-index: 1;
   box-shadow: inset 1px 0 5px rgba(255, 255, 255, 0.5);
 }
.list__key_pressed {
    background-color: whitesmoke;
    height: 99.5%;
    border-radius: 0 0 4px 4px;
    box-shadow: inset 1px 0 5px rgba(0, 0, 0, 0.5), inset -1px 0 2px rgba(0, 0, 0, 0.5);
}
/*.container__footer {
  flex-grow: 1;
}*/
.footer {
   height: 2.1rem;
   padding: 8px;
   background-color: #252525;
   color: #686868;
   display: flex;
   align-items: center;
   font-size: 0.8rem;
 }
@media screen and (orientation: portrait) {
    html {
      transform: rotate(90deg);
      transform-origin: right top;
      width: 100vh;
      /*height: 100vw;*/
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      right: 0;
      
    }
    .container {
      height: 100vw;
    }
  }